<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  </head>
  <body>
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
  
      <ul class="nav nav-pills">
    	  <li role="presentation"><a href="/">Home</a></li>
    	  <li role="presentation"><a href="/saved">Saved Articles</a></li>
    	     <li role="presentation"><a href="/scrape">Peel(Scrape) the Onion</a></li>
         
  	  </ul>
 
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>Mongo Scraper</h1>
  <p>The Onion Version</p>  
</div>
  	{{{body}}}
  </body>
</html>