{{#each scrape}}

	<div class="panel panel-default">
	  	<div class="panel-heading">{{this.title}}
	  	<form method="post" action="/comments/{{this._id}}">
	  	<button class="btn btn-primary">Comments</button>
	  	</form>
	  	</div>
	  	<div class="panel-body"><a href="{{this.link}}">{{this.link}}</a></div>
	
	</div>

{{/each}}	